<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie-edge" />
    <link rel="stylesheet" href="./style2.css" />
    <title> Kommunity</title>
    <link rel ="icon" href = "./images/icon.svg" />
</head>
<body>
  <header>
      <div class="logo-container">
          <img src="./images/logo.svg" alt="logo" />
      </div>
      <div class="search-bar-container">
          <img src="./images/Search Bar.svg" alt="search bar" />
      </div>
      <div class="search-container">
          <img src="./images/Search.svg" alt="search icon" />
      </div>
      </header>
      <h1> Login </h1>
      <div class="login-text">
          <p>Not part of <mark class="green">Kommunity</mark> yet?</p> 
          <mark class ="pink"><p>Sign Up Here</p></mark></div>
      <div class="email-text">
          <p>Email Address</p>
          <img src="./images/typeBox.svg" alt="email address box"/> 
      </div> 
      <div class="password-text">
          <p>Password</p>
          <img src="./images/typeBox.svg" alt="password box"/>
      </div> 
      <div class="login-button">
          <p>Login</p>
      </div>
      <img class="friends"  src="./images/friends.svg"/>
      
</body>
</html>

