<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie-edge" />
    <link rel="stylesheet" href="./styleSearch.css" />
    <title> Kommunity</title>
    <link rel ="icon" href = "./images/icon.svg" />
</head>
<body>
  <header>
      <div class="logo-container">
          <img src="./images/logo.svg" alt="logo" />
      </div>
      <div class="search-bar-container">
          <img src="./images/Search Bar.svg" alt="search bar" />
      </div>
      <div class="search-container">
          <img src="./images/Search.svg" alt="search icon" />
      </div>
      <nav>
          <ul class="nav-links">
              <li> <a href="./logged.html" class="nav-link2" href="#">Login</a> </li>
              <li> <a class="nav-link3" href="#">Sign Up</a> </li>
          </ul>
      </nav>
      </header>
      <main>
        <div class="dropdown">
            <h3 class="first"> Filter By:</h3>
            <div class="date">
            <button>Date</button>
                <ul>
                    <li><a href="#">Today</a></li>
                    <li><a href="#">Tommorow</a></li>
                    <li><a href="#">This week</a></li>
                    <li><a href="#">This weekend</a></li>
                    <li><a href="#">Next week</a></li>
                    <li><a href="#">Custom</a></li>
                </ul>
              </div>
              <div class="distance">
            <button>Distance</button>
                <ul>
                    <li><a href="#">2 miles</a></li>
                    <li><a href="#">5 miles</a></li>
                    <li><a href="#">10 miles</a></li>
                    <li><a href="#">15 miles</a></li>
                    <li><a href="#">20 miles</a></li>
                    <li><a href="#">Custom</a></li>
                </ul>
              </div>
              <div class="format">
                <button>Format</button>
                <ul>
                    <li><a href="#">In Person</a></li>
                    <li><a href="#">Virtual</a></li>
                    
                </ul>
              </div>
            
            
          
            
        </div>
       
          <div class="yoga">
            <h2 class="yoga1-title" > Beginner's Hatha Yoga</h2>
            <h3 class="yoga1-date-time">WEDNESDAY, JULY 14 @ 9AM</h3>
            <p class="yoga1-location">Gasworks Park , Seattle , WA</p>
            <h3 class="yoga1-price">FREE</h3>
            <img class="yoga1" src="./images/yoga1.svg" alt="yoga picture 1"/>

            <h2 class="yoga2-title" > Beginner's Hatha Yoga</h2>
            <h3 class="yoga2-date-time">WEDNESDAY, JULY 14 @ 9AM</h3>
            <p class="yoga2-location">Gasworks Park , Seattle , WA</p>
            <h3 class="yoga2-price">FREE</h3>
            <img class="yoga2" src="./images/yoga2.svg" alt="yoga picture 2"/>

            <h2 class="yoga3-title" > Beginner's Hatha Yoga</h2>
            <h3 class="yoga3-date-time">WEDNESDAY, JULY 14 @ 9AM</h3>
            <p class="yoga3-location">Gasworks Park , Seattle , WA</p>
            <h3 class="yoga3-price">FREE</h3>
            <img class="yoga3"src="./images/yoga3.svg" alt="yoga picture 3"/>
          </div>
         
      </main>
      </body>
      </html>